# API Framework
fastapi
uvicorn[standard]
# tests
requests

# Caching
langcache

# Google AI
google-generativeai


# Embeddings
sentence-transformers

# Data Processing
numpy
scipy

# Environment & Config
python-dotenv

# Utilities
python-multipart
